<div class="container mt-5 text-light">
  <div
    class="jumbotron custom-jumbotron text-left px-4 d-flex flex-column justify-content-center"
  >
    <h1 class="display-4">Start Your Journey with LoanVista!</h1>
    <p class="lead">
      We're here to assist you with any questions you have before applying for a
      loan.
    </p>
  </div>

  <div class="row my-5">
    <div class="col-md-7 slide-right">
      <h2>Contact Our Loan Counselors</h2>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control my-1"
                id="firstname"
                placeholder="Enter your first name"
                pattern="^[a-zA-Z]+$"
                required
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control my-1"
                id="lastname"
                placeholder="Enter your last name"
                pattern="^[a-zA-Z]+$"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="cellPhone">Cell Phone</label>
              <input
                type="text"
                class="form-control my-1"
                id="cellPhone"
                placeholder="Enter your cell phone"
                pattern="^[0-9]{10}$"
                required
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control my-1"
                id="email"
                placeholder="Enter your email"
                pattern="^[a-zA-Z0-9._]+@[a-zA-Z]+\\.[a-zA-Z]{2,}$"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="address1">Address 1</label>
              <input
                type="text"
                class="form-control my-1"
                id="address1"
                placeholder="Enter your address"
                required
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group my-3">
              <label for="address2">Address 2</label>
              <input
                type="text"
                class="form-control my-1"
                id="address2"
                placeholder="Enter additional address info"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group my-1">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="Enter your city"
              required
            />
          </div>
          <div class="col-md-4 form-group my-1">
            <label for="state">State</label>
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="Enter your State"
              required
            />
          </div>
          <div class="col-md-4 form-group my-1">
            <label for="zipCode">Zip Code</label>
            <input
              type="text"
              class="form-control"
              id="zipCode"
              placeholder="Enter your zip code"
              pattern="^[0-9]{5}$"
              required
            />
          </div>
        </div>

        <div class="form-group my-3">
          <label for="memo">Memo</label>
          <textarea
            class="form-control my-1"
            id="memo"
            rows="4"
            placeholder="Enter memo"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-custom my-3">Submit</button>
      </form>
    </div>
    <div class="col-md-5 slide-left">
      <div class="faq-wrapper px-4">
        <div>
          <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq p-4">
          <div class="faq-item">
            <button class="faq-question">How do I apply for a loan?</button>
            <div class="faq-answer">
              <p>
                You can apply for a loan through our online application form.
                It's quick and easy!
              </p>
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">What documents do I need?</button>
            <div class="faq-answer">
              <p>
                You will need a valid ID, proof of income, and bank statements.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">
              How long does the approval process take?
            </button>
            <div class="faq-answer">
              <p>The approval process typically takes 1-2 business days.</p>
            </div>
          </div>
          <div class="faq-item">
            <button class="faq-question">What are the interest rates?</button>
            <div class="faq-answer">
              <p>
                Interest rates vary depending on the loan type and your credit
                score. Our counselors can provide more details.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
