<div class="container mt-5 text-light">
  <div
    class="jumbotron custom-jumbotron text-left px-4 d-flex flex-column justify-content-center"
  >
    <h1 class="display-4">Application Details</h1>
    <p class="lead">Here are the details for the selected loan application.</p>
  </div>

  <div class="row my-5">
    <div class="col-md-7 slide-right">
      <div class="card bg-dark text-white">
        <div class="card-header px-3 header-color">
          Loan Application Details
        </div>
        <div class="card-body row">
          <div class="col">
            <p class="card-text">
              Application ID: {{ application?.applicationId }}
            </p>
            <p class="card-text">First Name: {{ application?.firstname }}</p>
            <p class="card-text">Last Name: {{ application?.lastname }}</p>
            <p class="card-text">Cell Phone: {{ application?.cellPhone }}</p>
            <p class="card-text">Email: {{ application?.email }}</p>
          </div>
          <div class="col">
            <p class="card-text">
              Hope Amount: {{ application?.hopeAmount | currency }}
            </p>
            <p class="card-text">
              Approval Amount:
              {{
                application?.approvalAmount
                  ? (application?.approvalAmount | currency)
                  : "Not Available"
              }}
            </p>
            <p class="card-text">
              Applied At: {{ application?.appliedAt | date : "yyyy-MM-dd" }}
            </p>
            <p class="card-text">
              Contracted At:
              {{
                application?.contractedAt
                  ? (application?.contractedAt | date : "yyyy-MM-dd")
                  : "Not Available"
              }}
            </p>
            <p class="card-text">
              Communication Status: {{ application?.communicationStatus }}
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-dark text-white my-2">
        <div class="card-header px-3 header-color">Document Section</div>
        <div class="card-body row">
          <div class="col">
            <h5 class="card-title">Mandatory Documents</h5>
            <ul>
              <li
                class="list-group-item bg-dark text-white"
                *ngFor="
                  let doc of ['Valid ID', 'Proof of Income', 'Bank Statement']
                "
              >
                {{ doc }}
              </li>
            </ul>
          </div>
          <div class="col">
            <h5 class="card-title">Submitted Documents</h5>
            <ul>
              <li
                class="list-group-item bg-dark text-white"
                *ngFor="let file of filesInfo"
              >
                <span
                  class="file-download cursor-pointer me-2"
                  (click)="downloadFile(file.name)"
                >
                  {{ file.name }}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <div class="card-header px-3 header-color">Judgement Details</div>
        @if(judgement) {

        <div class="card-body row">
          <div class="col">
            <p class="card-text">Judgement ID: {{ judgement.judgementId }}</p>
            <p class="card-text">Judge First Name: {{ judgement.firstname }}</p>
            <p class="card-text">Judge Last Name: {{ judgement.lastname }}</p>
          </div>
          <div class="col">
            <p class="card-text">
              Application ID: {{ judgement.applicationId }}
            </p>
            <p class="card-text">
              Approval Amount:
              {{ judgement.approvalAmount | currency }}
            </p>
            <p class="card-text">
              Created At: {{ judgement.createdAt | date : "yyyy-MM-dd" }}
            </p>
          </div>
          @if(!application?.approvalAmount) {
          <span (click)="grant()" class="grant-button cursor-pointer mt-3">
            Grant Approval Amount
          </span>
          }
        </div>
        } @else {
        <div class="card-body">
          <p class="card-text">Judgement not available</p>
        </div>
        }
      </div>
    </div>
    <div class="col-md-5 slide-left">
      @if(application?.contractedAt) {
      <div class="card bg-dark text-white mb-2">
        <div class="card-header px-3 header-color">Payout Details</div>
        <div class="card-body row">
          <div class="col">
            <div
              class="d-flex align-items-center"
              [ngStyle]="{ 'margin-bottom': '16px' }"
            >
              <p class="card-text my-auto me-2">
                Entry ID: {{ entry?.entryId || "No data" }}
              </p>
              @if (entry) {
              <i
                class="fa-regular fa-circle-xmark cursor-pointer delete-icon"
                (click)="deleteEntry()"
              ></i>
              }
            </div>
            <p class="card-text">
              Entry Amount: {{ (entry?.entryAmount | currency) || "No data" }}
            </p>
            <p class="card-text">
              Communication Status:
              {{ entry?.communicationStatus || "No data" }}
            </p>
          </div>
          <div class="col">
            <p class="card-text">
              Created At:
              {{ (entry?.createdAt | date : "yyyy-MM-dd") || "No data" }}
            </p>
            <p class="card-text">
              Created By: {{ entry?.createdBy || "No data" }}
            </p>
            <p class="card-text">
              Updated At:
              {{ (entry?.updatedAt | date : "yyyy-MM-dd") || "No data" }}
            </p>
            <p class="card-text">
              Updated By: {{ entry?.updatedBy || "No data" }}
            </p>
          </div>
        </div>
      </div>

      <div class="card bg-dark text-white mb-2">
        <div class="card-header px-3 header-color">Create/Update Payout</div>
        <div class="card-body row">
          <div class="col">
            <input
              type="number"
              class="form-control bg-secondary text-white"
              placeholder="Entry Payout Amount."
              [(ngModel)]="entryAmount"
            />
          </div>
          <div class="col">
            <button
              class="btn btn-custom-inverse"
              (click)="createUpdatePayout()"
            >
              {{ entry ? "Update Payout" : "Create Payout" }}
            </button>
          </div>
        </div>
      </div>
      } @if (!application?.approvalAmount) {
      <div class="card bg-dark text-white">
        <div class="card-header px-3 header-color">
          {{ judgement ? "Update Judgement" : "Create Judgement" }}
        </div>
        <div class="card-body">
          <form (submit)="judgement ? updateJudgement() : submitJudgement()">
            <div class="mb-3">
              <label for="appId" class="form-label">Application ID</label>
              <input
                type="text"
                id="appId"
                class="form-control bg-secondary text-white"
                [value]="application?.applicationId"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="judgeFirstname" class="form-label"
                >Judge Firstname</label
              >
              <input
                type="text"
                id="judgeFirstname"
                class="form-control bg-secondary text-white"
                [value]="judgeFirstname"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="judgeLastname" class="form-label"
                >Judge Lastname</label
              >
              <input
                type="text"
                id="judgeLastname"
                class="form-control bg-secondary text-white"
                [value]="judgeLastname"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="approvalAmount" class="form-label"
                >Approval Amount</label
              >
              <input
                type="number"
                id="approvalAmount"
                class="form-control"
                [(ngModel)]="approvalAmount"
                name="approvalAmount"
                required
              />
            </div>

            <button type="submit" class="btn btn-custom-inverse w-100">
              {{ judgement ? "Update" : "Submit Judgment" }}
            </button>
          </form>
        </div>
      </div>
      } @if(application?.contractedAt) { }
    </div>
  </div>
</div>
